__pycache__/
*.pyc
.env
venv/
student_data.txt
student_data_copy.txt
# Python virtual environment
Capstone_IssueTracker/backend/venv/

# Environment variables
Capstone_IssueTracker/backend/.env

# Python cache
Capstone_IssueTracker/backend/__pycache__/
Capstone_IssueTracker/backend/**/__pycache__/